        <div id="siguenos" class="mh-50-100 bg-gray-darker">
          <div class="container-fluid">
            <h1 class="text-center uppercase bold text-white">Síguenos</h1>
            <ul class="separator-line"><li></li><li></li></ul>
            <h3 class="text-center thin text-white">Laboratoria presente en las redes sociales</h3>
            <div class="row pt-35 pb-70">  
              <div class="col-xs-8 col-xs-offset-2">          
                <ul class="grid-list grid-list-centered grid-list-3 social grid-list-anchors">
                  <li>
                    <a href="https://www.facebook.com/laboratoria.la" class="facebook">
                      <h1>Comenta<br>Perú</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/laboratoriachile?fref=ts" class="facebook">
                      <h1>Comenta<br>Chile</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li> 
                  <li>
                    <a href="https://www.facebook.com/pages/Laboratoria-Mexico/334763440050524?fref=ts" class="facebook">
                      <h1>Comenta<br>México</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li>                               
                  <li>
                    <a href="https://www.youtube.com/channel/UClhhbCO2gmGZGwzSnQF8gew/feed" class="youtube">
                      <h1>Ve</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/LaboratoriaLA" class="twitter">
                      <h1>Twitea</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li>
                  <li>
                    <a href="http://instagram.com/laboratoriala" class="instagram">
                      <h1>Comparte</h1>
                      <div class="overlay">
                      </div>
                      <div class="icon"></div>
                    </a>
                  </li>
                </ul>    
              </div>                 
          </div>
        </div>
        <div class="footer bg-white">
          <div class="container-fluid">
            <div class="row pt-14 pb-14">
              <div class="col-xs-8 pt-14">
                <p class="text-gray-darker">Laboratoria 2014. | <a href="mailto:sumate@laboratoria.la">Perú: sumate@laboratoria.la</a> tel: +51 997 350 298 | <a href="mailto:info@laboratoria.la">Chile: info@laboratoria.la</a> | <a href="mailto:raphaelle@laboratoria.mx">México: raphaelle@laboratoria.mx</a></p>
              </div>
              <div class="col-xs-4 text-right">
                <h1 class="text-gray-darker p-0 m-0">&lt;l&gt;</h1>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!-- Modal BECA -->
    <div class="modal fade" id="modal-beca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>        
          <div class="modal-body">
            <h3 class="text-center light">Beca a una coder</h3>
            <ul class="separator-line"><li></li><li></li></ul>
            <p class="text-center"><strong>Nota: </strong>Después de hacer click en continuar, serás re-dirigido al formulario de donaciones seguro de <em>PayPal</em>. El valor de una beca por 6 meses de formación es de USD $1500. Puedes donar 1 beca completa o contribuir con el monto que prefieras. Cada dólar cuenta :)</p>
            <hr>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="H948JA494WRLN">
              <input type="submit" class="btn btn-outline btn-danger form-control btn-lg paypal-button" name="submit" value="Continuar">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal LAPTOP -->
    <div class="modal fade" id="modal-laptop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>        
          <div class="modal-body">   
            <h3 class="text-center light">Dona una laptop</h3>
            <ul class="separator-line"><li></li><li></li></ul>
            <p class="text-center">Las laptops son la principal herramienta de trabajo de las coders de Laboratoria. Si tienes una en buen estado déjanos tus datos y avísanos de dónde podemos recogerla. Tendrá el mejor uso posible. </p>
            <hr>
            <form method="get" class="form-mailchimp">
              <input class="hidden" type="hidden" name="username" value="Laboratoria">
              <input class="hidden" type="hidden" name="dc" value="us8">
              <input class="hidden" type="hidden" name="u" value="618f8797e8c3ecdc7d72c2c77">
              <input class="hidden" type="hidden" name="id" value="baf2f3d99b">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="FNAME" class="h4 text-gray">Nombre:</label>
                  <input type="text" class="input-lg form-control" name="FNAME">
                </div>
                <div class="col-sm-6">
                  <label for="LNAME" class="h4 text-gray">Apellido:</label>
                  <input type="text" class="input-lg form-control" name="LNAME">
                </div>
              </div>
              <div class="form-group">
                <label for="EMAIL" class="h4 text-gray">Correo Electrónico:</label>
                <input type="email" class="input-lg form-control" name="EMAIL">
              </div>
              <div class="form-group">
                <label for="name" class="h4 text-gray">Describe tu laptop:</label>
                <textarea type="text" rows="5" class="input-lg form-control" name="MESSAGE" placeholder="Cuéntanos sobre el modelo, estado físico y funcionamiento en general."></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-lg btn-danger">Enviar</button>
              </div>
            </form>
          </div>
          <div class="overlay overlay-success">
            <div>
              <h1>Gracias.<br> Confirma el envío en tu correo.</h1>
              <h3>No olvides compartir en tus redes sociales</h3>
              <ul class="grid-list grid-list-centered">
                <li><a href="https://www.facebook.com/laboratoria.la" class="text-white">Facebook</a></li>
                <li><a href="https://twitter.com/LaboratoriaLA" class="text-white">Twitter</a></li>
                <li><input type="text" value="http://laboratoria.la" class="form-control"></li>
              </ul>
            </div>
          </div>
          <div class="overlay overlay-error">
            <div>
              <h1>Ups.</h1>
              <h3>Algo salió mal, intenta de nuevo</h3>
              <button class="btn btn-white btn-outline" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <div class="overlay overlay-on-send">
            <div class="loader">
              <img src="{site_url}assets/img/Preloader_7.gif" alt="Enviando...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal VOLUNTARIOS -->
    <div class="modal fade" id="modal-voluntario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>     
          <div class="modal-body">            
            <h3 class="text-center light">Sé voluntario</h3>
            <ul class="separator-line"><li></li><li></li></ul>
            <p class="text-center">Tenemos una red de programadores mentores que ayudan a las coders en su camino a convertirse las mejores desarrolladoras web. Cuéntanos más de tí y por qué quieres ser parte de Laboratoria.</p>
            <hr>
            <form method="get" class="form-mailchimp">
              <input class="hidden" type="hidden" name="username" value="Laboratoria">
              <input class="hidden" type="hidden" name="dc" value="us8">
              <input class="hidden" type="hidden" name="u" value="618f8797e8c3ecdc7d72c2c77">
              <input class="hidden" type="hidden" name="id" value="baf2f3d99b">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="FNAME" class="h4 text-gray">Nombre:</label>
                  <input type="text" class="input-lg form-control" name="FNAME">
                </div>
                <div class="col-sm-6">
                  <label for="LNAME" class="h4 text-gray">Apellido:</label>
                  <input type="text" class="input-lg form-control" name="LNAME">
                </div>
              </div>
              <div class="form-group">
                <label for="EMAIL" class="h4 text-gray">Correo Electrónico:</label>
                <input type="email" class="input-lg form-control" name="EMAIL">
              </div>
              <div class="form-group">
                <label for="name" class="h4 text-gray">Cuéntanos sobre ti:</label>
                <textarea type="text" rows="5" class="input-lg form-control" name="MESSAGE"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-lg btn-danger">Enviar</button>
              </div>
            </form>
          </div>
          <div class="overlay overlay-success">
            <div>
              <h1>Gracias.<br> Confirma el envío en tu correo.</h1>
              <h3>No olvides compartir en tus redes sociales</h3>
              <ul class="grid-list grid-list-centered">
                <li><a href="https://www.facebook.com/laboratoria.la" class="text-white">Facebook</a></li>
                <li><a href="https://twitter.com/LaboratoriaLA" class="text-white">Twitter</a></li>
                <li><input type="text" value="http://laboratoria.la" class="form-control"></li>
              </ul>
            </div>
          </div>
          <div class="overlay overlay-error">
            <div>
              <h1>Ups.</h1>
              <h3>Algo salió mal, intenta de nuevo</h3>
              <button class="btn btn-white btn-outline" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <div class="overlay overlay-on-send">
            <div class="loader">
              <img src="{site_url}assets/img/Preloader_7.gif" alt="Enviando...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal EMPRESAS -->
    <div class="modal fade" id="modal-empresas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>        
          <div class="modal-body">   
            <h3 class="text-center light">Suma tu empresa</h3>
            <ul class="separator-line"><li></li><li></li></ul>
            <p class="text-center">Laboratoria cuenta con una red de empresas aliadas que nos ayudan a actualizar nuestra currícula, y que reciben a las coders graduadas como practicantes. Súmate para formar un sector de tecnología que sea ejemplo de diversidad e inclusión</p>
            <hr>
            <form method="get" class="form-mailchimp">
              <input class="hidden" type="hidden" name="username" value="Laboratoria">
              <input class="hidden" type="hidden" name="dc" value="us8">
              <input class="hidden" type="hidden" name="u" value="618f8797e8c3ecdc7d72c2c77">
              <input class="hidden" type="hidden" name="id" value="baf2f3d99b">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="FNAME" class="h4 text-gray">Nombre:</label>
                  <input type="text" class="input-lg form-control" name="FNAME">
                </div>
                <div class="col-sm-6">
                  <label for="LNAME" class="h4 text-gray">Apellido:</label>
                  <input type="text" class="input-lg form-control" name="LNAME">
                </div>
              </div>
              <div class="form-group">
                <label for="EMAIL" class="h4 text-gray">Correo Electrónico:</label>
                <input type="email" class="input-lg form-control" name="EMAIL">
              </div>
              <div class="form-group">
                <label for="name" class="h4 text-gray">Cuéntanos sobre tu empresa:</label>
                <textarea type="text" rows="5" class="input-lg form-control" name="MESSAGE"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-lg btn-danger">Enviar</button>
              </div>
            </form>
          </div>
          <div class="overlay overlay-success">
            <div>
              <h1>Gracias.<br> Confirma el envío en tu correo.</h1>
              <h3>No olvides compartir en tus redes sociales</h3>
              <ul class="grid-list grid-list-centered">
                <li><a href="https://www.facebook.com/laboratoria.la" class="text-white">Facebook</a></li>
                <li><a href="https://twitter.com/LaboratoriaLA" class="text-white">Twitter</a></li>
                <li><input type="text" value="http://laboratoria.la" class="form-control"></li>
              </ul>
            </div>
          </div>
          <div class="overlay overlay-error">
            <div>
              <h1>Ups.</h1>
              <h3>Algo salió mal, intenta de nuevo</h3>
              <button class="btn btn-white btn-outline" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <div class="overlay overlay-on-send">
            <div class="loader">
              <img src="{site_url}assets/img/Preloader_7.gif" alt="Enviando...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{site_url}js/app/vendor/jquery.min.js"></script>
    <script src="{site_url}js/app/vendor/jquery.videoBG.js"></script>
    <script src="{site_url}js/app/vendor/wurfl.js"></script>
    <script src="{site_url}js/app/src/videoBG.js"></script>
    <script src="{site_url}js/app/vendor/velocity.min.js"></script>
    <script src="{site_url}js/app/vendor/bootstrapValidator.min.js"></script>
    <script src="{site_url}js/app/lib/mainscript.js"></script>
    <script src="{site_url}js/b3/transition.js"></script>
    <script src="{site_url}js/b3/modal.js"></script>
    <script src="{site_url}js/app/lib/mailchimp.js"></script>
    <script>
      (function(w,d) {
          w.hj = w.hj || function() { (w.hj.q=w.hj.q||[]).push(arguments); };
          w._hjSettings = { hjid: 1517 };
          var s = d.createElement('script');
          s.src = '//insights.hotjar.com/static/client/insights.js';
          d.getElementsByTagName('head')[0].appendChild(s);
      }(window,document));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54283238-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>