// Margin & Padding SMALL
$pm-small: 3;
$box-model-abbr: pt, pr, pb, pl, mt, mr, mb, ml;
$box-model-sides: padding-top, padding-right, padding-bottom, padding-left, margin-top, margin-right, margin-bottom, margin-left;
@for $i from 1 through length($box-model-sides) {
  .#{nth($box-model-abbr, $i)}-sm {
    #{nth($box-model-sides, $i)}: em($pm-small) !important;
  }
}

// Margins 
@for $i from -7 to 11 {
  .m-#{$i*7} {
    margin: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .mt-#{$i*7} {
    margin-top: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .mb-#{$i*7} {
    margin-bottom: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .ml-#{$i*7} {
    margin-left: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .mr-#{$i*7} {
    margin-right: em($i*7)!important;
  }
}

    // Paddings
@for $i from -7 to 11 {
  .pt-#{$i*7} {
    padding-top: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .pb-#{$i*7} {
    padding-bottom: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .pl-#{$i*7} {
    padding-left: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .pr-#{$i*7} {
    padding-right: em($i*7)!important;
  }
}

@for $i from -7 to 11 {
  .p-#{$i*7} {
    padding: em($i*7)!important;
  }
}

// Margins PERCENTAGE
@for $i from 1 to 11 {
  .m-#{$i*7}-100 {
    margin: percentage(($i*0.07)) !important;
  }
}

@for $i from 1 to 11 {
  .mt-#{$i*7}-100 {
    margin-top: percentage(($i*0.07)) !important;
  }
}

@for $i from 1 to 11 {
  .mb-#{$i*7}-100 {
    margin-bottom: percentage(($i*0.07)) !important;
  }
}

@for $i from 1 to 11 {
  .ml-#{$i*7}-100 {
    margin-left: percentage(($i*0.07)) !important;
  }
}

@for $i from 1 to 11 {
  .mr-#{$i*7}-100 {
    margin-right: percentage(($i*0.07)) !important;
  }
}

// Paddings PERCENTAGE
@for $i from 1 to 11 {
  .pt-#{$i*7}-100 {
    padding-top: percentage($i*0.07)!important;
  }
}

@for $i from 1 to 11 {
  .pb-#{$i*7}-100 {
    padding-bottom: percentage($i*0.07)!important;
  }
}

@for $i from 1 to 11 {
  .pl-#{$i*7}-100 {
    padding-left: percentage($i*0.07)!important;
  }
}

@for $i from 1 to 11 {
  .pr-#{$i*7}-100 {
    padding-right: percentage($i*0.07)!important;
  }
}

@for $i from 1 to 11 {
  .p-#{$i*7}-100 {
    padding: percentage($i*0.07)!important;
  }
}


// Min-Heights
@for $i from 1 to 13 {
  .mh-#{($i*7)*10} {
    min-height: em(($i*7)*10)!important;
  }
}

.vh-100 {
  height: 100vh;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}


// Box Shadows
.box-shadow {
  @include box-shadow(0 3px 3px 0 rgba(0,0,0,0.15));
}

// Z-Index
@for $i from 1 to 4 {
  .z-index#{($i)*10} {
    z-index: ($i)*10!important;
  }
}

// Positions
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

// Displays
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// Form overrides 
.select-override {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
    background: white url(/img/arrow-down.svg) no-repeat 98%;
  }
}