table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	background: #31bc86;
	color: #fff;
}

thead tr td {
	font-weight: bold;
}

tbody tr:nth-child(odd) {
	background: #f5f5f5;
}

tbody tr:nth-child(even) {
	background: white;
}

table a {
	text-decoration: none;
}

tbody tr:hover {
	background: rgba(129,208,177, 0.3);
}

td {
	padding: 12px 24px;
}