<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="apple-touch-icon" href="">

    <!-- WebFonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- <link rel="stylesheet" href="stylesheets/main.min.css"> -->
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <h3 class="text-center m-0 bold"><a href="../index.html" class="not-underline text-gray-darker">MARINELA PHOTOGRAPHY</a></h3>
          </div>
          <div class="col-sm-1 text-right">
            <a href="#" class="not-underline uppercase text-gray-darker">Menu</a>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container" id="main-content">
        <div class="row">
          <img src="../img/show/img-1.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h6 class="text-center">2014. Todos los derechos reservados</h6>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/site.js"></script>
  </body>
</html>