/* GLOBAL */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* END:GLOBAL GRID */

/* ROW */

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  margin-bottom: 14px;
  /*background: rgba(0, 0, 255, 0.3);*/
  padding: 3px 3px;
}

.row:last-child {
  margin-bottom: 0;
}

/* END:ROW */

[class*="col-"], [class^="col-"] {
  /*background-color: yellow;*/
  /*border: 1px solid gray;*/
  padding: 0 14px;
  float: left;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}
