ul.grid-coders {
  list-style: none;
  padding: 0;
}

.grid-coders li {
  float: left;
  width: 33.33%;
  padding: 7px;
}

.grid-coders li > div {
  min-height: 250px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center; /* Posiciona las imagenes de fondo */
  background-size: cover;
}

.full-background {
	background-size: cover !important;
}

.grid-coders li img {
	width: 100%;
	height: auto;
}

.grid-coders li img,
.grid-coders .overlay,
.grid-coders .nombre {
	position: absolute;
}

.grid-coders li .overlay {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.grid-coders li img {
	z-index: 9;
}

.grid-coders li .nombre {
	bottom: 14px;
	width: 100%;
	text-align: right;
	padding-right: 7px;
}

.grid-coders li .nombre span {
	color: white;
	color: #fff;
	font-weight: bold;
}








