<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Eventy</title>
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/forms.css">
		<link rel="stylesheet" href="../css/global.css">
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" href="../css/fold.css">
		<link rel="stylesheet" href="../css/proveedores.css">
		<link rel="stylesheet" href="../css/footer.css">
		<link rel="stylesheet" href="../css/como-funciona.css">
		<link rel="stylesheet" href="../css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<a href="../index.html"> <img src="../img/logo.jpg" style=" width="100px" ; height="40px" "> </a>
					</div>
					<div class="col-md-10 text-right">
						<nav>
							<a href="../index.html">Home</a>
							<a href="../views/registrate.html">Registrate</a>
							<a href="../views/login.html">log in</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--<div class="overlay"></div>-->
			<section id="fold-login">
				<div class="container">
<!-- FORMULARIO DE INGRESO -->
					<form class="container-login">
				 		<a href="../index.html"> <img src="../img/logo.jpg" style=" width="300px" ; height="80px" "></a>
					  <div class="form-group">
		   				<input type="email" class="form-control form-login" id="exampleInputEmail1" placeholder="Dirección de correo electrónico">
		   				<input class="form-control form-login" type="email" placeholder="Contraseña">
		     			<input type="submit" value="Iniciar sesión">
		     		</div>
					</form>
				</div>
			</section>
	</body>
</html>

