<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>......</title>
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/global.css">
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" href="../css/fold.css">
		<link rel="stylesheet" href="../css/proveedores.css">
		<link rel="stylesheet" href="../css/footer.css">
		<link rel="stylesheet" href="../css/como-funciona.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/calificacion.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<a href="index.html"> <img src="../img/logo.jpg" style=" width="100px" ; height="40px" "> </a>
					</div>
					<div class="col-md-10 text-right">
						<nav>
							<a href="../index.html">Home</a>
							<a href="../views/registrate.html">Registrate</a>
							<a href="../views/login.html">log in</a>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section id="option">
			<div class="container-fluid">
				<ul class="row list-unstyled" >
					<li>
						<a class="grid" href="../views/proveedores_buffet.html">Buffet</a>
					</li>
					<li>
						<a class="grid" href="../views/proveedores_local.html">Local</a>
					</li>
					<li>
						<a class="grid" href="../views/proveedores_mesasysillas.html">Mesas y Sillas</a>
					</li>
					<li>
						<a class="grid" href="../views/proveedores_musica.html">Musica</a>
					</li>
					<li>
						<a class="grid" href="../views/proveedores_personal.html">Personal</a>
					</li>
					<li>
						<a class="grid" href="../views/proveedores_toldo.html">Toldo</a>
					</li>
				</ul>
			</div>
		</section>
		<section id="proveedores-grid">
			<div class="container-fluid">
				<h1>Mesas y sillas</h1>
				<ul class="row list-unstyled">
					<li>
						<a class="grid" href="" style="background: url(../img/24.jpg) no-repeat center center; background-size: cover ">
							<h2>Swissotel Lima</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
					<li>
						<a class="grid" href="" style="background: url(../img/22.jpg) no-repeat center center; background-size: cover ">
							<h2>Salones Eventos</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
					<li>
						<a class="grid" href="" style="background: url(../img/21.jpg) no-repeat center center; background-size: cover ">
							<h2>Coral</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
					<li>
						<a class="grid" href="" style="background: url(../img/37.jpg) no-repeat center center; background-size: cover ">
							<h2>El Bolivar</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
					<li>
						<a class="grid" href="" style="background: url(../img/27.jpg) no-repeat center center; background-size: cover ">
							<h2>Estancia</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
					<li>
						<a class="grid" href="" style="background: url(../img/25.jpg) no-repeat center center; background-size: cover ">
							<h2>Esan</h2>
						</a>
						<div class="description-list">
							<span>Aforo: 500 personas</span>
							<span>Costo: S/1.000</span>
							<span>Costo por hora: S/ 50.00</span>
							<div class="ec-stars-wrapper">
								<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
								<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
								<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
								<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
								<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
							</div>
							<noscript>Necesitas tener habilitado javascript para poder votar</noscript>
							<a href="compra.html"><button type="button" class="btn btn-info">Adquirir</button></a>
						</div>
					</li>
				</ul>
			</div>
	</body>
</html>

